h1 {
    color: rgb(125, 125, 255);
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#red_text {
    color: red;
    font-family: Arial, sans-serif;
}

body {      
    background-color: rgb(254, 249, 255);
}

#character-image {
    animation: 0.5s linear 1s infinite alternate slide-in;
}

/* #character-image {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20vh); }
    100% { transform: translateY(0px); }
} */

/*body {
    background-image: url('images/MeliNom.gif');
    background-size: cover;
    background-position: center;
    background-size: 20px 20px;
}